.header-v6 .header-wrap-6 {
  width: 22%;
}
.header-v6 .header-wrap-6.header-wrap-6-logo {
  width: 12%;
}
.header-v6 .logo {
  text-align: center;
  margin-right: 0;
}
.header-v6 .main-nav .navbar-nav {
  padding-right: 0;
}