.advanced-search-v2 .flex-search {
  margin-right: -2px;
  -ms-flex-preferred-size: 110px;
      flex-basis: 110px;
  padding-right: 0;
}

.advanced-search-v2 .advanced-search-btn {
  padding: 0 15px;
}
.advanced-search-v2 .search-icon .form-control {
  border-radius: 4px 0 0 4px;
}
.advanced-search-v2 .btn-search {
  border-radius: 0 4px 4px 0;
}

.advanced-search-v2-geolocation .flex-fill {
  margin-right: -2px;
}
