.save-search-btn {
  margin-left: 10px;
  background-color: #28a745;
  color: #fff;
}
.save-search-btn:hover {
  background-color: rgba(40, 167, 69, 0.65);
}

.search-no-results-found {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 25px;
}