.gm-style-iw[style],
.gm-style-iw-d[style],
.gm-style-iw-c[style] {
  padding: 0 !important;
  max-width: 300px !important;
  overflow: hidden !important;
}

.map-info-window {
  width: 300px;
}
.map-info-window .item-wrap img {
  width: 120px;
}
.map-info-window .item-header {
  width: 120px;
  height: 90px;
  padding: 5px;
}
.map-info-window .item-body {
  width: 180px;
  height: 90px;
  padding: 6px 15px 0 5px;
}
.map-info-window .item-title {
  font-size: 13px;
  white-space: normal;
  -o-text-overflow: unset;
     text-overflow: unset;
  line-height: 18px;
  margin-bottom: 2px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  visibility: visible;
}
.map-info-window .item-info {
  line-height: 20px;
}
.map-info-window .item-info .item-type {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
}