.block-map-wrap {
  min-height: 450px;
}

.loader-show {
  display: inline-block;
  margin-right: 10px;
}

.yani-map-loading {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
}

.map-notfound {
  color: #222222;
  font-size: 20px;
  font-weight: 300;
  z-index: 1;
  top: 30%;
  left: 50%;
  width: 280px;
  height: 78px;
  margin: 0 auto;
  margin-left: -150px;
  padding-top: 30px;
  text-align: center;
  opacity: 0.95;
  background-color: #fff;
}

.yani-fullscreen-map {
  z-index: 1000001;
}
