input.multiple-agent-check {
  position: absolute;
  right: 32px;
}

.block-content-wrap .agent-details input.multiple-agent-check {
  left: 58px;
}
.block-content-wrap .property-form-terms {
  text-align: left;
}

.property-form-wrap .agent-details,
.block-content-wrap .agent-details {
  margin-bottom: 10px;
}
