.dashboard-header-main-wrap,
.dashboard-content-wrap {
  padding-left: 240px;
}
@media (max-width: 991.98px) {
  .dashboard-header-main-wrap,
.dashboard-content-wrap {
    padding-left: 0;
  }
}

@media (max-width: 767.98px) {
  .dashboard-content-wrap {
    overflow: hidden;
  }
}

.dashboard-header-wrap {
  padding: 35px 40px;
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .dashboard-header-wrap {
    padding: 20px 30px;
  }
}
@media (max-width: 767.98px) {
  .dashboard-header-wrap {
    padding: 10px 20px 20px;
  }
}
.dashboard-header-wrap h1 {
  font-size: 24px;
}
@media (max-width: 767.98px) {
  .dashboard-header-wrap h1 {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .dashboard-header-wrap .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
  }
}

.dashboard-header-left .breadcrumb {
  display: none;
}
@media (max-width: 767.98px) {
  .dashboard-header-left .breadcrumb {
    padding: 0 0 5px;
  }
}
@media (max-width: 767.98px) {
  .dashboard-header-right .btn {
    margin-top: 20px;
  }
}
