.elementor-field-custom-search {
  padding: 5px 14px 5px 40px;
}
.elementor-field-custom-search + .search-icon {
  position: absolute;
  top: 0;
}

.location-trigger.with-tabs {
  top: auto;
  bottom: 0;
  right: 5px;
}
