.text-with-icon-item-v1 .icon-thumb {
  padding: 50px 0 70px;
}

.text-with-icon-item-v2 {
  margin-bottom: 60px;
}
.text-with-icon-item-v2 .text-with-icon-content-wrap {
  padding: 0 30px 0 20px;
}

.text-with-icon-item .icon-thumb {
  font-size: 40px;
  min-width: 40px;
}
.text-with-icon-item .icon-thumb img {
  min-width: 40px;
  height: auto;
}
.text-with-icon-item .text-with-icon-title {
  font-size: 20px;
  line-height: 28px;
}
.text-with-icon-item .text-with-icon-body {
  padding: 10px 0 20px;
  color: #636363;
}