.mobile-property-contact {
  border-top: 1px solid #dce0e0;
  background-color: #fff;
  padding: 10px;
}
.mobile-property-contact .btn {
  margin-left: 4px;
  width: 50px;
  padding: 0;
  line-height: 48px;
}
.mobile-property-contact .btn i {
  font-size: 20px;
  top: 3px;
  position: relative;
}

.mobile-property-form .close {
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
}