.property-image-count {
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.property-image-count i {
  margin-right: 5px;
}