/* header v.1 - colors
/* ------------------------------------------------------------------------ */
.header-v1 {
  background-color: #004274;
  border-bottom: 1px solid #004274; }

.header-v1 a {
  color: #fff; }

.header-v1 a:hover,
.header-v1 a:active {
  color: #00aeff;
  background-color: rgba(0, 174, 255, 0.1); }

/* header v.2 - colors
/* ------------------------------------------------------------------------ */
.header-v2 .header-top,
.header-v2 .header-contact-wrap {
  background-color: #fff; }

.header-v2 .header-bottom {
  background-color: #004274;
  border-color: rgba(0, 174, 255, 0.2); }

.header-v2 .header-contact-wrap .header-contact-right {
  color: #004274; }

.header-v2 .header-contact-left {
  color: #004274; }

.header-v2 .navbar-nav > li,
.header-v2 .navbar-nav > li:first-of-type {
  border-color: rgba(0, 174, 239, 0.2); }

.header-v2 a {
  color: #fff; }

.header-v2 a:hover,
.header-v2 a:active {
  color: #00aeff;
  background-color: rgba(0, 174, 255, 0.1); }

.header-v2 .header-social-icons a {
  color: #004274; }

/* header v.3 - colors
/* ------------------------------------------------------------------------ */
.header-v3 .header-top {
  background-color: #004274; }

.header-v3 .header-bottom {
  background-color: #004274; }

.header-v3 .header-contact,
.header-v3-mobile {
  background-color: #00aeff;
  color: #fff; }

.header-v3 .header-bottom,
.header-v3 .login-register,
.header-v3 .navbar-nav > li,
.header-v3 .navbar-nav > li:first-of-type {
  border-color: rgba(0, 174, 239, 0.2); }

.header-v3 a {
  color: #fff; }

.header-v3 a:hover,
.header-v3 a:active {
  color: #00aeff;
  background-color: rgba(0, 174, 255, 0.1); }

.header-v3 .header-social-icons a {
  color: #004274; }

/* header v.4 - colors
/* ------------------------------------------------------------------------ */
.header-v4 {
  background-color: #fff; }

.header-v4 a {
  color: #004274; }

.header-v4 a:hover,
.header-v4 a:active {
  color: #00aeff;
  background-color: rgba(0, 174, 255, 0.1); }

/* header v.5 - colors
/* ------------------------------------------------------------------------ */
.header-v5 .header-top {
  background-color: #fff; }

.header-v5 .header-bottom {
  background-color: #004274; }

.header-v5 .header-bottom,
.header-v5 .navbar-nav > li,
.header-v5 .navbar-nav > li:first-of-type {
  border-color: rgba(0, 174, 239, 0.2); }

.header-v5 a {
  color: #fff; }

.header-v5 a:hover,
.header-v5 a:active {
  color: #00aeff;
  background-color: rgba(0, 174, 255, 0.1); }

.header-v5 .header-social-icons a {
  color: #004274; }

/* header v.6 - colors
/* ------------------------------------------------------------------------ */
.header-v6 .header-top {
  background-color: #004274; }

.header-v6 a {
  color: #fff; }

.header-v6 a:hover,
.header-v6 a:active {
  color: #00aeff;
  background-color: rgba(0, 174, 255, 0.1); }

.header-v6 .header-social-icons a {
  color: #fff; }
