.pagination-wrap {
  margin: 30px 0;
}
@media (max-width: 767.98px) {
  .pagination-wrap {
    margin-top: 80px;
  }
}

.page-link {
  margin: 0 3px;
  border-color: transparent;
  width: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  font-weight: 500;
  margin-left: 1px;
}
.page-link:hover {
  background-color: #dce0e0;
  border-color: transparent;
}