.navigation-wrap {
    width: 100%;
}


.navigation-wrap {
	.menu {
    margin: 0;
    padding: 0;
    display: flex;

        & > li > a{
            color: var(--color-theme-dark);
        }
        ul.sub-menu {
                position: absolute;
                margin: 0;
                padding: 0;
                z-index: 9;
                background: #fff;
                opacity: 0;
                transition :0.25s opacity;
            }
        a .fas{
            text-indent: 5px;
        }
        li.menu-item-has-children {
            position: relative;
            
    
                &:hover ul.sub-menu,
                & a:hover + ul.sub-menu,
                .mega-menu a:hover + ul.sub-menu,
                .mega-menu:hover ul.sub-menu,
               .navigation-wrap:hover ul.sub-menu:hover{
                     opacity: 1!important;
                     z-index: 1!important;
                }

            &.mega-menu {

                position: unset;

                & > .sub-menu > li > a{
                    color: var(--color-theme-primary);
                }

                &.cols-3 ul.sub-menu {
                    grid-template-columns: repeat(4,1fr);
                }

                & > .sub-menu .fa {
                    display: none!important;
                }

                &:hover{
                    z-index: 10;
                }

                &:hover ul.sub-menu {
                    display: grid;
                }
                ul.sub-menu {
                    z-index: -1;
                    display: none;
                    width: 100vw;
                    left: 0;       

                 
                    ul.sub-menu {
                        display: block!important;
                        z-index: 0;
                        a{
                            color: var(--color-theme-dark);
                        }
                    }                           
                }
            }
        }
        a{
           	padding: 10px;
            display: block;
            font-size: 12px;
	   }
    }
	a.nav-search-field-toggler.js-search-trigger {
    	display: flex!important;
	}


}

.menu{
    
        & > li{
            &  > ul.sub-menu {
                // box-shadow:1px 1px 3px rgba(0 0 0 / 50%)!important;
            }
        }
}

@media screen and(min-width:1000px) {
    .navigation-wrap {
        display: block;
    }
}



/* main nav
/* ----------------------------------------------------------- */
.main-nav .navbar-nav {
  padding-right: 15px;
}
.main-nav .dropdown-toggle:after {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-family: "yani-iconfont";
  content: "î¤";
  vertical-align: unset;
  font-size: 10px;
  font-weight: bold;
  border:none;
}
.main-nav ul ul .dropdown-toggle:after {
  float: right;
}
.main-nav .dropdown-item {
  padding: 15px;
  line-height: 1.5;
  min-width: 250px;
}
.main-nav .dropdown-item:after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 3px;
}
.main-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 1200px) {
  .main-nav .nav-link {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.main-nav .nav-item.show > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.main-nav .dropdown-menu {
  visibility: hidden;
  opacity: 0;
  top: 100%;
}
.main-nav .dropdown-menu .dropdown-menu {
  left: 100%;
  top: 0;
}
.main-nav .megamenu {
  padding: 20px !important;
}
.main-nav .megamenu li:first-of-type {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-nav .megamenu li:first-of-type a, .main-nav .megamenu li:last-of-type a {
  border-bottom: none !important;
}

/* Drop-down menu work on hover
/* ----------------------------------------------------------- */
.on-hover-menu {
  background: none;
  margin: 0;
  padding: 0;
  min-height: 20px;
}

@media only screen and (min-width: 991px) {
  .on-hover-menu ul li,
.on-hover-menu ul ul li,
.on-hover-menu ul ul ul li {
    position: relative;
  }

  .on-hover-menu ul li:hover > ul,
.on-hover-menu ul ul li:hover > ul,
.on-hover-menu ul ul ul li:hover ul {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  .on-hover-menu ul ul,
.on-hover-menu ul ul ul,
.on-hover-menu ul ul ul ul {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 250px;
  }

  .on-hover-menu ul ul {
    top: 100%;
    left: 0;
  }

  .on-hover-menu ul ul ul,
.on-hover-menu ul ul ul ul {
    top: 0;
    left: 100%;
  }
}
/* account nav
/* ----------------------------------------------------------- */
.logged-in-nav {
  left: auto;
  min-width: 200px;
  visibility: hidden;
  opacity: 0;
  top: 110%;
}
.logged-in-nav a {
  line-height: 1.5;
  padding: 15px;
  border-bottom: 1px solid;
}

.navbar-logged-in-wrap.show .logged-in-nav {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.navbar-logged-in-wrap .dropdown-toggle:hover {
  background-color: transparent !important;
}

/* slideout plugin
/* ------------------------------------------------------------------------ */
@media (max-width: 991.98px) {
  .slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
    margin-bottom: 71px;
  }
}

@media (max-width: 991.98px) {
  .slideout-menu-left {
    left: 0;
  }
}

@media (max-width: 991.98px) {
  .slideout-menu-right {
    right: 0;
    left: auto;
  }
}

@media (max-width: 991.98px) {
  .slideout-panel {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 991.98px) {
  .slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
  }
}

@media (max-width: 991.98px) {
  .slideout-open .slideout-menu-right.open,
.slideout-open .slideout-menu-left.open {
    display: block;
  }
}

/* mobile nav
/* ------------------------------------------------------------------------ */
@media (min-width: 992px) {
  .nav-mobile {
    display: none;
  }
}
.nav-mobile .main-nav .dropdown-toggle:after {
  margin-left: 0;
  float: none;
}
.nav-mobile .main-nav .navbar-nav {
  padding-right: 0;
}
.nav-mobile .main-nav .nav-item {
  display: block;
}
.nav-mobile .main-nav .nav-item .nav-mobile-trigger {
  position: absolute;
  height: 56px;
  width: 56px;
  line-height: 56px;
  top: 0;
  right: 0;
  z-index: 2;
  text-align: center;
}
.nav-mobile .main-nav .nav-item .dropdown-menu {
  z-index: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.nav-mobile .main-nav .nav-item .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
  top: 0 !important;
  left: 0 !important;
}
.nav-mobile .main-nav .nav-item .dropdown-menu .nav-item > a {
  padding: 15px 15px 15px 40px;
}
.nav-mobile .main-nav .nav-item .dropdown-menu .dropdown-menu {
  left: 0 !important;
  top: 0;
  z-index: 1;
}
.nav-mobile .main-nav .nav-item a {
  border-bottom: 1px solid;
  padding: 15px;
}

/* user nav
/* ------------------------------------------------------------------------ */
.navi-login-register .btn-create-listing {
  margin: 10px;
  text-align: center;
}

.nav-mobile .logged-in-nav {
  visibility: visible;
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 255px;
}
.nav-mobile .navi-login-register .btn-create-listing {
  width: calc(100% - 20px);
}

.navi-user-mobile .notification-circle {
  right: 20px;
  top: 22px;
}
