.ui-slider-horizontal .ui-slider-range, .property-lightbox .modal-content, .property-lightbox .modal-header, .map-search, .map-btn, .logged-in-nav, .main-nav .dropdown-menu, .main-nav .dropdown-toggle:after {
  border: none;
}

.login-register-tabs .nav-link, .deals-nav-tab.nav-pills .nav-link, .fw-property-floor-plans-wrap .floor-plans-tabs a, .listing-tabs .nav-tabs .nav-link, .advanced-search-v2 .form-control,
.advanced-search-v2 .btn, .location-trigger, .main-nav .dropdown-menu {
  border-radius: 0;
}

.label {
  border-radius: 2px;
}

.hover-effect,
.hover-effect-flat {
  border-radius: 3px;
}

.login-form-wrap,
.register-form-wrap, .agent-v2-grid-module .agent-grid-wrap.with-background .agent-details, .contact-form-wrap,
.estimation-form-wrap, .grid-item, .lb-outerContainer, .widget-wrap, .post-content-wrap pre, .private-note-wrap, .lead-enquiry-wrap, .payment-method, .table-cell-title span, .dashboard-content-block, .post-tag, .agent-nav-wrap .nav-pills .nav-link, .agent-contacts-wrap, .agent-stats-wrap,
.agent-profile-wrap,
.agent-bio-wrap, .property-image-count, .mobile-property-tools .nav-pills > .nav-item > .nav-link,
.mobile-property-tools .item-tool > span, .availability-notes li:before, .detail-wrap, .sidebar-wrap .property-form-wrap, .property-banner .property-form-wrap, .property-banner .nav .nav-link, .map-search, .map-notfound, .page-link, .item-parallax-wrap, .list-view .item-wrap, .item-tool > span, .property-slider-item, .advanced-search-banner-wrap, .lined-block, .block-wrap {
  border-radius: 4px;
}

.search-banner-wrap {
  border-radius: 6px;
}

.notification-circle {
  border-radius: 10px;
}