.ui-slider-horizontal .ui-slider-handle:after, .lb-data .lb-close, .lb-data .lb-number, .lb-prev, .lb-next, .lb-cancel, .lightbox .lb-image, .flickr-images a,
.instagram-images a, .dashboard-slide-panel-wrap .open-close-slide-panel, .doughnut-chart-data li:after, .table-cell-title span, .post-thumbnail-wrap a, .lightbox-gallery-wrap .btn-expand, .property-lightbox .modal, .property-gallery-grid .gallery-grid-item, .class-energy-indicator span, .property-view .vertical-listing-tabs .nav, .slick-slide .swipebox,
.lslide .swipebox, .property-detail-v6 .property-banner .img-wrap-1,
.property-detail-v6 .property-banner .img-wrap-2,
.property-detail-v6 .property-banner .img-wrap-3, .property-detail-v2 #pills-gallery:before, .review-date, .compare-property-label .compare-label, .item-wrap-v6 .item-v6-image, .item-wrap-v2 .item-amenities li span, .item-amenities .h-type, .nav-mobile .main-nav .nav-item a, .logged-in-nav a, .logged-in-nav, .main-nav .dropdown-menu, .yanithemes-sticky, .btn:focus .show-on-click, .hover-effect:before,
.hover-effect-flat:before, .hover-effect,
.hover-effect-flat {
  display: block;
}

.login-form-wrap .form-group-field:after,
.register-form-wrap .form-group-field:after, .property-carousel-buttons-wrap .slick-prev,
.property-carousel-buttons-wrap .slick-next,
.property-carousel-buttons-wrap .btn-view-all, .testimonial-icon .yani-icon, .footer-bottom-wrap-v3 .footer-social a, .task-list-item .control, .task-label, .upload-icon, .notification-circle, .post-tag, .lightbox-nav a, .fw-property-contact-agent-wrap .agent-phone span, .property-navigation-wrap a, .availability-notes li:before, .class-energy-indicator, .star .icon-rating, .what-nearby .what-nearby-right .label, .what-nearby .what-nearby-right .time-review, .agent-phone.agent-phone-hidden, .agent-information .agent-phone-wrap span, .page-title-wrap .label, .map-search, .map-btn, .gm-marker, .spinner > div, .item-parallax-wrap .labels-wrap, .item-parallax-wrap .label-featured, .item-parallax-wrap .item-amenities .h-type, .item-wrap-v3 .item-price-wrap .item-price, .list-view .item-body .item-amenities .h-type, .item-amenities li, .item-tool > span, .item-tool, .property-slider-item .label-featured, .auto-complete .item-amenities li, .btn-features-list, .features-list .control, .filters-search-v3-wrap .control, .advanced-search-dropdown .range-text .min-price-range,
.advanced-search-dropdown .range-text .max-price-range, .switcher-wrap, .top-bar-contact-info,
.top-bar-slogan, .top-bar-wrap .header-social-icons .btn-square, .social-icons a, label {
  display: inline-block;
}

.property-image-count, .item-author a, .login-register-nav li {
  display: inline;
}

.lb-dataContainer:after, .lb-outerContainer:after, .widget ul:not(.item-amenities):not(.item-price-wrap):not(.contact-list):not(.dropdown-menu):not(.nav-tabs) li:before, .widget-featured-property:before, .widget-contact-us li:before, .upload-gallery-thumb-buttons:before, .page-content-wrap .gallery:before,
.post-content-wrap .gallery:before, .what-nearby dd:before, .widget ul:not(.item-amenities):not(.item-price-wrap):not(.contact-list):not(.dropdown-menu):not(.nav-tabs) li:after, .widget-featured-property:after, .widget-contact-us li:after, .upload-gallery-thumb-buttons:after, .page-content-wrap .gallery:after,
.post-content-wrap .gallery:after, .what-nearby dd:after {
  display: table;
}

.elementor-widget-yani_elementor_contact_form .elementor-widget-container .elementor-form br, .property-carousel-module-v1-4cols .item-wrap .item-tools,
.property-carousel-module-v1-5cols .item-wrap .item-tools, .property-carousel-module-v1-4cols .item-wrap .item-title,
.property-carousel-module-v1-4cols .item-wrap .item-amenities,
.property-carousel-module-v1-5cols .item-wrap .item-title,
.property-carousel-module-v1-5cols .item-wrap .item-amenities, .property-carousel-module-v1-1cols .item-wrap-outside,
.property-carousel-module-v1-2cols .item-wrap-outside,
.property-carousel-module-v1-3cols .item-wrap-outside, .property-carousel-buttons-wrap .slick-prev:before,
.property-carousel-buttons-wrap .slick-next:before,
.property-carousel-buttons-wrap .btn-view-all:before, .lightboxOverlay, .widget-mortgage-calculator .mortgage-details, .property-item-widget .right-property-item-widget-wrap .item-sub-price, .widget .item-sub-price, .bootbox-close-button, .yani-floorplan-clone:last-child hr, .payment-method .yani_stripe_simple button,
.payment-method .yani_stripe_simple_featured button,
.payment-method .yani_stripe_membership button, .dashboard-mobile-edit-menu-wrap, .dashboard-side-menu-wrap .side-menu .side-menu-dropdown, .lightbox-tools .btn-share .dropdown-toggle:after, .lightbox-gallery-full-wrap + .lightbox-form-wrap, .property-lightbox .btn-email, .property-lightbox .modal-footer, .mobile-property-tools .item-tools .item-tool.yani-print, .property-navigation-wrap, #tab-agents .rating-score-text,
#tab-agents .all-reviews, .vote-msg, .item-tool-share:after, .property-detail-v2 .property-labels-wrap, .grid-view-4-cols:not(.list-view) .item-listing-wrap .btn-item, .property-address-wrap .gm-style-iw-a, .item-wrap-v6 .h-type, .listing-v5 .h-type, .item-wrap-v3 .item-amenities .h-type, .item-wrap-v3 .item-price-wrap .item-sub-price, .list-view .item-footer, .list-view .item-header .labels-wrap, .list-view .item-header .item-price-wrap, .grid-view .item-body .item-date, .grid-view .item-body .item-author, .grid-view .item-body .labels-wrap, .grid-view .item-body .item-price-wrap, ul.item-amenities.item-amenities-without-icons i,
ul.item-amenities.item-amenities-without-icons img,
ul.item-amenities.item-amenities-without-icons span i,
ul.item-amenities.item-amenities-without-icons span img, .item-amenities-with-icons .item-amenities-text, .search-expandable .btn-features-list, .mobile-search-nav, .nav-mobile .logged-in img, small.nav_desc, .navbar-logged-in-wrap > a:after, .btn:focus .hide-on-click, .btn .show-on-click, .hide_search_checkbox,
.yani-hidden,
.search-hidden, .visible-on-mobile, .btn-loader {
  display: none;
}

/*Responsive*/
@media (max-width: 767.98px) {
  .display-block-on-mobile {
    display: block !important;
  }
}

@media (max-width: 991.98px) {
  .display-block-on-tablet {
    display: block !important;
  }
}
