.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number, .property-grid-item, .text-with-icon-item-v2, .agent-item,
.text-with-icon-item-v1, .lb-data .lb-details, .featured-property-item-widget .item-wrap-v3 .labels-wrap .label, .upload-gallery-thumb-buttons button, .gallery-item, .page-content-wrap .alignleft,
.post-content-wrap .alignleft, .lightbox-gallery-wrap, .mobile-property-tools .nav-pills, .weekdays li,
.days li, .left-calendar,
.right-calendar, .what-nearby .what-nearby-left, .agent-information li, .property-form .btn-half-width, .compare-item, .half-map-left-wrap, .lightbox-content-wrap, .grid-view .item-listing-wrap, .map-info-window .item-body, .map-info-window .item-header, .item-wrap-v2 .item-amenities li:before, .list-view .item-body .item-date, .item-author, .property-slider-item .item-date, .advanced-search-dropdown .btn-clear, .header-v6 .header-wrap-6-right-menu .navbar-nav {
  float: left;
}

.lb-data .lb-close, .lb-nav a.lb-next, .widget ul:not(.item-amenities):not(.item-price-wrap):not(.contact-list):not(.dropdown-menu):not(.nav-tabs) li span, .lead-detail-wrap ul li span, .invoce-content li span, .mebership-list-info li strong, .doughnut-chart-data span, .upload-gallery-thumb-buttons button + button, .side-menu-item .side-menu-item .notification-circle, .side-menu-item .notification-circle, .page-content-wrap .alignright,
.post-content-wrap .alignright, .agent-contacts-wrap li span,
.agent-contacts-wrap li a, .agent-list-wrap .agent-list-contact li a,
.agent-list-wrap .agent-list-contact li span, .lightbox-form-wrap, .mobile-property-tools .item-tools, .mortgage-calculator-data span, .class-energy-list span, .what-nearby .what-nearby-right, .half-map-right-wrap, .item-date, .auto-complete .search-result-view, .size-calculator .btn, .advanced-search-dropdown .btn-apply, .header-v6 .navbar-logged-in-wrap, .header-v6 .login-register, .header-v6 .header-wrap-6-left-menu .navbar-nav, .header-v5 .login-register-nav, .header-v5 .navbar-logged-in-wrap {
  float: right;
}

.fw-property-contact-agent-wrap .agent-phone span, .grid-view .item-listing-wrap-v4 {
  float: none;
}