.widget ul:not(.item-amenities):not(.item-price-wrap):not(.contact-list):not(.dropdown-menu):not(.nav-tabs) li span, .property-item-widget .right-property-item-widget-wrap .item-amenities, .task-list-item.task-list-item-completed .control, .dashaboard-snake-nav .step-block:not(.active), .doughnut-chart-data small, .agent-profile-chart-wrap h2 span, .what-nearby .time-review, .item-price .price-postfix, .item-price .price-prefix, .item-wrap-v6 .item-price, .item-amenities li, .search-expandable-label, .switcher-wrap .dropdown-menu li,
.top-bar-wrap .dropdown-menu li, .switcher-wrap .btn,
.top-bar-wrap .btn {
  font-weight: 300;
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number, .fc-event, .fc-event:hover, .dashboard-slide-panel-wrap h2,
.dashboard-slide-panel-wrap h3, .task-label, .dashboard-statistic-block .views-data, .dashboard-content-block-wrap h3,
.dashboard-content-block h3, .dashboard-content-block-wrap h2,
.dashboard-content-block h2, .dashboard-side-menu-wrap .side-menu .side-menu-dropdown, .post-tag {
  font-weight: 400;
}

.fc-more, .fc-unthemed th, .login-register-tabs .nav-link, .advanced-search-module .advanced-search-module-title, .blog-post-item .blog-post-link, .blog-post-item .blog-post-title h3, .text-with-icon-item .text-with-icon-link, .agent-company, .agent-link, .price-table-title,
.price-table-price,
.price-table-currency, .taxonomy-title, .widget ul:not(.item-amenities):not(.item-price-wrap):not(.contact-list):not(.dropdown-menu):not(.nav-tabs) li a, .widget-read-more, .dashaboard-snake-nav .step-block, .statistic-referrals-list a, .doughnut-chart-data span, .dashboard-statistic-block .views-percentage, .dashboard-statistic-block h3, .menu-edit-property li a.active, .menu-edit-property-wrap .menu-title, .table-cell-title span, .dashboard-side-menu-wrap .side-menu, .mortgage-calculator-monthly-payment, .month .month-title, .days li, .accordion-title, .property-document-link, .lightbox-content-wrap .lightbox-content-title, .listing-tabs .nav-tabs .nav-link, .item-wrap-v5 .item-v5-price, .item-amenities .h-type span, .auto-complete .search-result-view, .auto-complete .auto-complete-title, .filters-search-v3-title {
  font-weight: 500;
}

strong, b, label {
  font-weight: 600;
}

.sub-listings-table a {
  font-weight: 700;
}