.ele-item-tools, .hz-ele-price, .login-register-form .modal-header .close, .blog-post-item .blog-post-meta ul, .team-social, .price-table-description ul, .widget-instagram-slider .featured-property-item-widget,
.widget-featured-property-slider-wrap .featured-property-item-widget, .tweet-slider .tweet-icon,
.tweet-slider .tweet-content, .tweet-item:last-of-type, .widget ul:not(.item-amenities):not(.item-price-wrap):not(.contact-list):not(.dropdown-menu):not(.nav-tabs), .property-item-widget:last-of-type, .featured-property-item-widget:last-of-type, .blog-post-item-widget:last-of-type, .widget-wrap:first-of-type, .post-content-wrap blockquote p:last-of-type, .post-content-wrap q p:last-of-type, .post-content-wrap ol ul, .post-content-wrap ol ol, .post-content-wrap ul ul, .post-content-wrap ul ol, .message-reply-message > p:last-of-type, .lead-enquiry-wrap:last-of-type, .lead-detail-wrap ul, .activities-list, .deals-nav-tab.nav-pills .nav-link, .recurring-payment-wrap .control, .mebership-list-info, .statistic-referrals-list, .doughnut-chart-data ul, .dashboard-property-search .form-group, .property-attachments, .dashboard-header-left h1, .dashboard-header-wrap h1, .dashboard-logo-wrap .logo, .dashboard-side-menu-wrap .side-menu, .next-prev-block .prev-box p,
.next-prev-block .next-box p, .post-excerpt-wrap p, .post-footer-wrap .author-meta, .post-header-wrap .author-meta, .agent-bio-wrap p:last-of-type, .agent-profile-data ul, .lightbox-tools ul, .fw-property-section-wrap .block-wrap, .property-navigation-wrap .property-navigation, .property-detail-v6 .property-banner .block-wrap ul, .property-overview-wrap ul, .review-title, .property-review-wrap .review-title-wrap, .agent-information, .lightbox-content-wrap .property-overview-data .flex-grow-1, .lightbox-content-wrap .property-overview-data .flex-fill, .listing-switch-view ul, .breadcrumb, .item-amenities, .item-tools, .item-price-wrap, .horizontal-search-wrap .search-banner-wrap .form-group, .advanced-search .form-group, .switcher-wrap .dropdown-menu .dropdown-item,
.top-bar-wrap .dropdown-menu .dropdown-item, .logged-in-nav, .main-nav .megamenu ul, .main-nav .dropdown-menu, .header-social-icons ul, .login-register-nav, .block-title-wrap h3, .block-title-wrap h2, .social-icons a:first-child {
  margin: 0;
}

.team-social, .agent-contacts-wrap .agent-map address, .listing-wrap .page-title,
.blog-wrap .page-title, .mt-10 {
  margin-top: 10px;
}

.social-login-wrap, .form-tools, .team-content-wrap-after .team-description, .property-carousel-module-v1-4cols .item-wrap-outside,
.property-carousel-module-v1-5cols .item-wrap-outside, .message-list-item, .private-note-wrap {
  margin-top: 20px;
}

.footer-bottom-wrap-v3 .footer-social, .widget-wrap, .post-comment-wrap .comment, .yani-blog-top, .agent-profile-wrap, .property-detail-v6 .sidebar-wrap, .property-detail-v5 .sidebar-wrap, .property-detail-v4 .sidebar-wrap, .property-detail-v2 .sidebar-wrap, .property-detail-v1 .sidebar-wrap {
  margin-top: 30px;
}

.login-form-wrap .form-group,
.register-form-wrap .form-group, .form-tools .control, .blog-post-item .blog-post-meta, .agents-module-slider .agent-item, .dashboard-table .control, .item-wrap-v6 .item-amenities li {
  margin-bottom: 0;
}

.social-login-wrap .btn:first-of-type, .property-grid-item .item-inner-wrap .labels-wrap, .property-carousel-module-v1-4cols .item-wrap-outside .item-title,
.property-carousel-module-v1-5cols .item-wrap-outside .item-title, .testimonial-logo, .testimonial-thumb, .footer-bottom-wrap-v2 .nav,
.footer-bottom-wrap-v3 .nav, .post-content-wrap dd, .dashboard-statistic-block .views-percentage, .menu-edit-property li, .item-parallax-wrap .labels-wrap, .item-parallax-wrap .label-featured, .property-slider-item .label-featured, .mb-10 {
  margin-bottom: 10px;
}

.testimonial-icon, .testimonial-body, .advanced-search-filters .form-group {
  margin-bottom: 15px;
}

.form-tools, .advanced-search-module .advanced-search-module-title, .team-content-wrap-after .team-description, .widget-login-register .login-register-tabs, .tweet-slider .tweet-icon, .tweet-item, .property-item-widget, .featured-property-item-widget, .blog-post-item-widget, .widget-about-image, .post-content-wrap table, .post-content-wrap dl, .post-content-wrap ol, .post-content-wrap ul, .post-content-wrap p, .post-content-wrap h6, .post-content-wrap h5, .post-content-wrap h4, .post-content-wrap h3, .post-content-wrap h2, .post-content-wrap h1, .message-list-item, .frontend-submission-page .dashaboard-snake-nav, .dashboard-slide-panel-wrap h2,
.dashboard-slide-panel-wrap h3, .private-note-wrap, .deals-table-wrap h2, .dashboard-statistic-block h3, .menu-edit-property-wrap .menu-title, .dashboard-content-block-wrap h3,
.dashboard-content-block h3, .dashboard-content-block-wrap h2,
.dashboard-content-block h2, .dashboard-logo-wrap, .page-content-wrap .gallery,
.post-content-wrap .gallery, .post-comment-wrap h3, .related-posts-wrap h2,
.post-comment-form-wrap h2, .agent-bio-wrap h2, .agent-profile-chart-wrap h2, .agent-profile-content, .agent-profile-top-wrap, .agent-list-wrap, .fw-property-floor-plans-wrap .floor-plan-right-wrap h3, .item-wrap-v5 .item-title, .lined-block {
  margin-bottom: 20px;
}

.footer-bottom-wrap-v3 .footer-social, .footer-top-wrap .widget-wrap, .lead-enquiry-wrap, .activitiy-item, .dashboard-statistic-block, .dashboard-property-search-wrap, .add-new-listing-bottom-nav-wrap, .dashboard-content-block-wrap,
.dashboard-content-block, .post-comment-wrap .comment, .post-comment-wrap, .related-posts-wrap, .post-title-wrap h1, .post-title-wrap h2, .post-wrap,
.author-detail-wrap,
.post-comment-form-wrap, .agent-contacts-wrap, .agent-stats-wrap,
.agent-profile-wrap,
.agent-bio-wrap, .mortgage-calculator-chart,
.mortgage-calculator-data, .listing-v5 .list-view .item-listing-wrap, .listing-v5 .grid-view .item-listing-wrap, .sidebar-wrap {
  margin-bottom: 30px;
}