.print-wrap .block-wrap, .ele-item-tools, .hz-ele-price, .login-register-form .modal-header, .blog-post-item .blog-post-meta ul, .team-social, .price-table-description ul, .footer-top-wrap .widget-wrap, .widget ul:not(.item-amenities):not(.item-price-wrap):not(.contact-list):not(.dropdown-menu):not(.nav-tabs), .dashboard-side-menu-wrap .side-menu, .agent-profile-data ul, .lightbox-tools ul, .property-lightbox .close, .property-lightbox .modal-body, .property-navigation-wrap .property-navigation, .property-sub-listings-wrap .block-wrap, .calendar-navigation .btn, .property-detail-v6 .property-banner .block-wrap, .property-banner .nav .nav-link, .property-wrap .breadcrumb, .map-info-window .item-wrap, .breadcrumb, .listing-v5 .list-view .item-wrap-v5, .item-amenities, .item-tools, .item-price-wrap, .size-calculator .btn, .advanced-search .advanced-search-btn, .switcher-wrap .dropdown-menu .dropdown-item,
.top-bar-wrap .dropdown-menu .dropdown-item, .switcher-wrap .btn,
.top-bar-wrap .btn, .logged-in-nav, .main-nav .megamenu ul, .main-nav .dropdown-menu, .header-social-icons ul, .login-register-nav, .header-v6 .header-social-icons, .navbar, .dropdown-menu {
  padding: 0;
}

.blog-post-item .blog-post-body {
  padding-bottom: 10px;
}

.agent-thumb, .activitiy-item, .property-detail-v6 .page-title-wrap,
.property-detail-v6 .property-banner {
  padding-bottom: 30px;
}