.advanced-search-widget .row {
  margin-right: -5px;
  margin-left: -5px;
}
.advanced-search-widget .col-sm-6,
.advanced-search-widget .col-xs-12 {
  padding-right: 5px;
  padding-left: 5px;
}
.advanced-search-widget .range-text {
  font-size: 12px;
}
.advanced-search-widget .price-range-wrap,
.advanced-search-widget .area-range-wrap {
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dce0e0;
}
.advanced-search-widget .features-list-wrap {
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
}
.advanced-search-widget .features-list {
  text-align: left;
}
.advanced-search-widget .features-list .control {
  width: 49%;
}