.widget-wrap {
  padding: 30px;
  background-color: #fff;
}
.widget-wrap .input-group-text {
  background-color: #fff;
}

.widget-title {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
}