.widget-mortgage-calculator .mortgage-details ul li {
  padding: 0 !important;
  line-height: 25px !important;
  font-size: 13px;
}
.widget-mortgage-calculator .mortgage-details.detail-wrap {
  margin-top: 20px;
  padding: 10px 20px !important;
}