.top-banner-wrap.slider-revolution-wrap {
  height: auto;
}
@media (max-width: 767.98px) {
  .top-banner-wrap.top-banner-wrap-dock-search {
    margin-bottom: 352px;
  }
}

.top-banner-wrap-fullscreen {
  height: 100vh;
}
