.elementor-widget-yani_elementor_search .form-group {
  margin-bottom: 0;
}

.advanced-search-shortcode .advanced-search-filters .form-group,
.elementor-widget-container .advanced-search-widget .form-group {
  margin-bottom: 15px;
}

.elementor-form-fields-wrapper .elementor-field-group .elementor-field-textual::-webkit-input-placeholder {
  opacity: 1;
}

.elementor-form-fields-wrapper .elementor-field-group .elementor-field-textual::-moz-placeholder {
  opacity: 1;
}

.elementor-form-fields-wrapper .elementor-field-group .elementor-field-textual:-ms-input-placeholder {
  opacity: 1;
}

.elementor-form-fields-wrapper .elementor-field-group .elementor-field-textual::-ms-input-placeholder {
  opacity: 1;
}

.elementor-form-fields-wrapper .elementor-field-group .elementor-field-textual::placeholder {
  opacity: 1;
}

.elementor-form-fields-wrapper .elementor-field-group .elementor-field-textual::-webkit-input-placeholder {
  opacity: 1;
}