.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 0 !important;
  padding: 0 !important;
}

#yani-properties-map a.leaflet-popup-close-button {
  color: #fff;
  background: #000;
  height: 20px;
  padding: 0;
  width: 20px;
  line-height: 18px;
  right: -20px;
}