.os-scrollbar-handle,
.os-scrollbar-track,
.os-scrollbar {
  height: 20px !important;
  border-radius: 0 !important;
}

.os-scrollbar-handle {
  background: #ced4d4 !important;
}

.os-scrollbar-track {
  background: #fff !important;
}

.os-host-resize-disabled.os-host-scrollbar-vertical-hidden > .os-scrollbar-horizontal,
.os-host-rtl.os-host-resize-disabled.os-host-scrollbar-vertical-hidden > .os-scrollbar-horizontal {
  top: calc(100% - 20px);
}