@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 992px) {
  .bt-content-wrap {
    width: 70%;
    max-width: 70%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .bt-sidebar-wrap {
    width: 30%;
    max-width: 30%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

.row-no-padding {
  margin-right: 0;
  margin-left: 0;
}
.row-no-padding [class*=col-] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main-wrap.slideout-panel {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px -10px 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px -10px 10px;
}