.item-listing-wrap-v3 {
  margin-bottom: 30px !important;
}

.item-wrap-v3 {
  padding: 0;
}
.item-wrap-v3 .label-featured {
  top: 20px;
  left: 20px;
}
.item-wrap-v3 .item-price-wrap {
  bottom: 45px;
  left: 20px;
}
.item-wrap-v3 .item-price-wrap .item-price {
  font-size: 14px;
}
.item-wrap-v3 .labels-wrap {
  top: auto;
  right: auto;
  left: 15px;
  bottom: 95px;
}
.item-wrap-v3 .item-title {
  max-width: 90%;
  color: #fff;
  left: 20px;
  bottom: 70px;
}
.item-wrap-v3 .item-title a {
  color: #fff;
}
.item-wrap-v3 .item-amenities {
  font-weight: 300;
  left: 20px;
  bottom: 20px;
  color: #fff;
}
.item-wrap-v3 .item-amenities li {
  margin-bottom: 5px;
}