.item-wrap-v5 {
  padding: 0;
}
.item-wrap-v5 .item-title {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
.item-wrap-v5 .item-body {
  padding: 30px;
}
.item-wrap-v5 .item-tool span {
  background-color: transparent;
}
.item-wrap-v5 .item-v5-price,
.item-wrap-v5 .item-v5-type,
.item-wrap-v5 .item-amenities {
  text-align: center;
}
.item-wrap-v5 .item-v5-price {
  font-size: 18px;
  margin-bottom: 5px;
}
.item-wrap-v5 .item-v5-type {
  margin-bottom: 25px;
  font-size: 12px;
  text-transform: uppercase;
}
.item-wrap-v5 .item-amenities li {
  margin-left: 6px;
  margin-right: 6px;
  line-height: 20px;
  font-size: 16px;
}
.item-wrap-v5 .item-amenities li:before {
  font-size: 24px;
}