.masonry {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 0;
}

.dashboard-main-wrap {
  opacity: 1;
}

.notify {
  margin-top: 10px;
}
