.post-tag-wrap strong {
  font-size: 16px;
}

.post-tag {
  color: #fff;
  padding: 2px 10px 3px 10px;
  margin-top: 5px;
}
.post-tag:hover {
  color: #fff;
  opacity: 0.75;
}

.post-thumbnail-wrap a {
  text-align: center;
}